{{!-- <!DOCTYPE html> --}}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://cdn.jsdeliver.net/npm/bulma@.9.3/css/bulma.min.css">
    <title>Blog-o-sphere</title>
    {{!-- <link rel="stylesheet" href="../../db/public/stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --}}
</head>
<body>
    <header>
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="block">
                <h1><strong>Blogs</strong></h1>
            </div>
        </div>
    </div>
    </header>
    {{{ body }}}

</body>
</html>