

<div class="row" id="viewBlogs">
    <div class="col-md-6">
        <ul>
            {{#each blogs as |blog|}}
            <li>
                <a href="/blogs/{{blog.id}}">{{blog.title}}</a>
                <ul>
                    {{#each blog.comments as |comment|}}
                    <li><a href="/Comments/{{comment.id}}">{{comment.content}}</a></li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<script src="./index.js"></script>