<div class="row">
  <div class="text-center">
    <button class="bi bi-key-fill" id="login-btn">Login</button>
    <button class="bi bi-keyboard-fill" id="create-account">Create an account</button>
  </div>
</div>

<script src="./displayLogin.js"></script>
<script src="./displayCreateUser.js"></script>
<script src="./index.js"></script>