
<form action="/action.php">
  <label for="username">username:</label><br>
  <input type="text" id="username"><br><br>
  <label for="password">password:</label><br>
  <input type="text" id="password"><br><br>
  <input type="submit" value="Submit" id="submitBtnEl">
</form>
